nav {
  background: #002e5b;
  color: white;
  // background: red;
  height: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    margin-right: 4rem;
    display: flex;
    justify-content: space-around;
    width: 43.6%;
    font-size: 25px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  li {
    // background: white;
    display: flex;
    align-items: center;
    &:hover {
      color: red;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .logo {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 6.5rem;
      height: 6.5rem;
    }
    h1 {
      font-weight: 700;
    }
  }
  .active_page{
    border-bottom: 1px solid white;
  }
}
