.adminSignUp_body {
  background: white;
  form {
    background: rgb(0, 46, 92);
    color: white;
    width: 23rem;
    height: 25rem;
    translate: 127% 20%;
    border-radius: 15px;
    .form_name {
      h2 {
        color: yellow;
        background: red;
      }
    }
    h2 {
      color: red;
      text-align: center;
      padding-top: 3rem;
    }

    .create_container {
      margin-top: 2rem;
      // background: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7px;

      label {
        font-size: 20px;
        margin-right: 9rem;
      }
      .createInput {
        width: 15rem;
        height: 1.8rem;
        border-radius: 10px;
        padding: 5px;

        &:placeholder {
          color: red;
          padding: 5px;
        }
      }
    }

    .createButton {
      float: right;
      background: white;
      color: rgb(0, 46, 92);
      font-size: 19px;
      margin-right: 4.1rem;
      margin-top: 10px;
      padding: 4px;
      border-radius: 7px;
      font-weight: 600;
    }
  }
}
