* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.admin_body {
  background: white;
}

.sidebar {
  position: fixed;
  background: rgba(0, 46, 91, 0.9);
  width: 27%;
  height: 40.91rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .admin_profile_container {
  margin: 2rem 0 0 0;
  height: 4rem;
  width: 100%;
  display: flex;
}
.sidebar .admin_profile_container .admin_pic {
  width: 20%;
  margin-left: 0.7rem;
}
.sidebar .admin_profile_container .admin_pic .admin_img1 {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.sidebar .admin_profile_container .admin_pic .rounded_online {
  position: absolute;
  z-index: 1;
  display: inline;
  height: 13px;
  width: 13px;
  border-radius: 80%;
  background: green;
  border: 2px solid white;
  margin-left: 30px;
  margin-top: 25px;
}
.sidebar .admin_profile_container .admin_profiletext_container {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 16px;
}
.sidebar .admin_profile_container i {
  margin-left: 0.5rem;
  color: red;
}
.sidebar .admin_profile_container i:hover {
  color: white;
}
.sidebar .admin_dashlabel_text {
  color: rgba(255, 255, 255, 0.8784313725);
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
}
.sidebar .dropdown_menu {
  display: none;
}
.sidebar .dropdown_menu {
  display: block;
  position: absolute;
  left: 4.5rem;
  top: 23%;
  background: black;
}
.sidebar .dropdown_menu ul {
  display: none;
  margin: 10px;
  width: 12rem;
}
.sidebar .dropdown_menu ul li {
  width: 4rem;
  list-style: none;
  transition: all 0.3s;
}
.sidebar .dropdown_menu ul li a {
  color: white;
  text-decoration: none;
}
.sidebar .dropdown_menu ul li :hover {
  color: red;
  display: block;
  position: absolute;
  left: 4.5rem;
  top: 23%;
  background: black;
  background: green;
}
.sidebar .navi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar .navi-container a {
  color: rgba(0, 46, 91, 0.966);
}
.sidebar .navi-container .navi_item {
  background: white;
  color: rgba(0, 46, 91, 0.966);
  margin: 0.7rem;
  width: 18.5rem;
  line-height: 3.4rem;
  border-radius: 7px;
}
.sidebar .navi-container .navi_item .navi_a {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.1rem;
}
.sidebar .navi-container .navi_item .navi_a .admin_icon {
  font-size: 28px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0.28rem;
}
.sidebar .navi-container :hover {
  background: rgba(0, 46, 91, 0.966);
  color: white;
  border-radius: 7px;
}
.sidebar .admin_hr {
  margin: 1rem;
}
.sidebar .logout_a {
  text-decoration: none;
}
.sidebar .logout_a .admin_signout {
  color: rgba(255, 0, 0, 0.842);
  margin: 2.3rem 2rem 0.2rem 11rem;
  background: rgba(0, 46, 91, 0.7);
  padding: 0.5rem;
  border-radius: 3px;
  float: right;
}
.sidebar .logout_a :hover {
  background: rgba(255, 0, 0, 0.842);
  color: rgba(0, 46, 91, 0.7);
}

.main {
  background: white;
  height: 40.91rem;
  width: 73%;
  float: right;
  display: flex;
  flex-direction: column;
}
.main .dashboard_header {
  position: fixed;
  width: 73.5%;
  background: white;
  border-bottom: 1px solid rgb(0, 0, 117);
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
.main .dashboard_header .label_dash {
  color: rgb(0, 0, 117);
  display: flex;
}
.main .dashboard_header .admin_icon_dash {
  font-size: 27px;
  margin-top: -6px;
  margin-right: 5px;
}
.main .dashboard_header .home_details {
  color: rgba(0, 0, 0, 0.603);
}
.main .dashboard_header .home_color {
  color: rgba(0, 46, 91, 0.7);
}
.main .dashboard_content {
  margin-top: 3rem;
}
.main .grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
  gap: 35px 35px;
  padding-top: 2.5rem;
}
.main .grid-item {
  height: 15rem;
  width: 27rem;
  background: rgba(0, 46, 91, 0.7);
}
.main .show_info_container {
  height: 12rem;
  display: flex;
}
.main .show_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
}
.main .show_inside_number {
  font-size: 80px;
  font-weight: 700;
  color: white;
  margin-bottom: 0.7rem;
}
.main .show_inside_text {
  color: white;
  font-size: 25px;
}
.main .show_icon {
  color: white;
  font-size: 8rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.main .more_a {
  background: rgba(0, 46, 91, 0.7);
  color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
}/*# sourceMappingURL=admin_dashboard.css.map */