.news_container {
//   background: pink;
  .news_item {
    color: blue;
    .news_title {
        text-align: center;
        font-weight: 600;
        color: red;
    }
    .news_body {
    }
  }
}
