.fpPage_body {
  background: white;
  form {
    color: white;
    height: 25rem;
    width: 20rem;
    background: rgb(0, 46, 91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    translate: 160% 25%;
    gap: 4rem;
    border-radius: 10px;
    font-size: 18px;
    p {
      width: 80%;
      text-align: center;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      label {
        margin-right: 12.2rem;
        font-size: 16px;

      }
      input {
        height: 2rem;
        width: 15rem;
        border-radius: 9px;
        padding-left: 0.4rem;
        font-size: 17px;
      }
      #newPassword_label{
        margin-left: 11rem;
        // background: red;
        width: 50%;
      }
      .check_container{
        margin-top: .2rem;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: red;
        width: 50%;
        // margin-left: -.6rem;
        input{
          width: 18px;
          height: 18px;
        }
        p{
          margin-left: -2.3rem;
        }
      }
      .fpbutton {
        margin-top: 1.5rem;
        background: white;
        color: rgb(0, 46, 91);
        width: 5rem;
        padding: 0.3rem 0.5rem;
        font-size: 18px;
        border-radius: 5px;
        &:hover {
          background: rgb(0, 46, 91);
          color: white;
        }
      }
    }
    .dir {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: .7rem;
      font-size: 14px;
      a {
        color: white;
        // text-decoration: none;
      }
    }
  }
}
