.register_box {
  // width: 60%;
  width: auto;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 14%);
  border-radius: 17px;
}
.register_sidebar {
  // margin-top: auto;
  width: 17%;
  height: 30rem;
  background: rgb(255, 255, 0, 0.77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: green;

  .steps_section {
    height: 7.5rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  :last-child {
    margin-top: auto;
    margin-bottom: 1rem;
  }
  .reg_signup_link {
    // background: pink;
    text-align: center;
    color: black;
    font-weight: 300;
    a {
      color: blue;
      &:hover {
        color: rgba(255, 0, 0, 0.911);
      }
    }
  }
}
.active_step {
  color: rgba(255, 0, 0, 0.911);
  border: 2px solid green;
  padding: 0.5rem;
  border-radius: 7px;
  margin-bottom: 5px;
}
.register1_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 30rem;
  width: 30rem;
  background: rgba(0, 46, 91, 0.87);
  color: white;
  padding: 1rem 5rem;

  input {
    width: 11.6rem;
    height: 28px;
    border: 0;
    background: rgb(255, 255, 255, 0.95);
    color: black;
    padding-left: 0.5rem;
    border-radius: 5px;
  }
  .insider {
    display: flex;
    flex-direction: column;
  }
  .heading_label {
    margin-top: 10px;
    margin-bottom: 15px;
    // font-size: 24px;
    text-align: center;
    color: rgba(255, 0, 0, 0.911);
    color: white;
    // background: white;
    font-weight: 700;
  }
  .container_items {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.7rem;
    font-size: 18px;
  }
  .gender {
    padding: 0.2rem;
    background: rgba(52, 153, 52, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    p {
      margin-bottom: 5px;
    }
    .radio_btn {
      width: 11rem;
      display: flex;
      p {
        margin-left: -20px;
      }

      justify-content: space-between;
      input {
        width: 1.2rem;
        height: 1.2rem;
        accent-color: yellow;
      }
    }
  }
  .Rcombo_box {
    padding: 4px;
    width: 11.6rem;
    height: 1.8rem;
    background: rgba(52, 153, 52, 0.767);
    color: white;
    font-weight: 600;
    border-radius: 5px;
  }
  .step1_button {
    text-align: center;
    margin: 10px 0 10px 19.4rem;
    width: 85px;
    height: 2rem;
    background: white;
    // padding: 6px 6px;
    border-radius: 5px;
    border: none;
    color: #002e5b;
    // margin-bottom: 18px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
      color: white;
      background: #002e5b;
      border: 1px solid white;
    }
  }
  a {
    text-decoration: none;
  }
}
