.form{
   height: 37rem;
   width: 35rem;
   background: rgba(0, 46, 91, .87);
   border-radius: 7px;
   margin-bottom: 9rem;
   color: white;
   
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   transform: translate(75%, 8%);
   input {
         width: 13rem;
         height: 28px;
         border: 0;
         background: white;
         color: black;
         padding-left: .5rem;
         border-radius: 5px;
      }
   .insider {
      display: flex;
      flex-direction:column;
   }
      
   hr {
      color: yellow;
      height: 2px;
      width: 30rem;
      margin: -2.5rem 0;
   }
   .btn2{
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 15px;
         margin-left: 1.5rem;
         width: 85px;
         height: 2rem;
         background: white;
         // padding: 6px 6px;
         border-radius: 5px;
         border: none;
         color: #002e5b;
         // margin-bottom: 18px;
         font-size: 20px;
         font-weight: 700;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
         &:hover {
            color: white;
            background: #002e5b;
            border: 1px solid white;
         }
   }
}
.details_container{

   .heading_label{
      margin-top: 10px;
      margin-bottom: 15px;
      // font-size: 24px;
      text-align: center;
      color: rgba(255, 0, 0, 0.911);
      color: yellow;
      // background: white;
      font-weight: 700;
   }
   .container_items{
      display: flex; 
      gap: 2rem;
      margin-bottom: .7rem;
   }
}
.user_pass{
   display: flex;
   flex-direction: column;
   .insider{
      margin-bottom: 7px;
   }
}
.gender{
   padding: .2rem;
   background: rgba(52, 153, 52, 0.767);
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 5px;
   p{
      margin-bottom: 5px;
   }
   .radio_btn {
      width: 11rem;
      display: flex;
      p{
         margin-left: -20px;
      }

      justify-content: space-between;
      input {
         width: 1.2rem;
         height: 1.2rem;
         accent-color: yellow;
      }

   }
}

.last_container{
   display: flex;
}
#link{
  margin-top: 12px;
}